.body {
  background: #dde6ed;
  padding: 20px;
}
.dashboard {
  display: flex;
  gap: 20px;
}
.dashboard--content {
  background: #fff;
  flex: 1;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}
